* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 2rem;
  overflow: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(255, 255, 255);
}

span i {
  margin: 0 0.5rem;
  color: grey;
  cursor: pointer;
}

.text-bold {
  font-size: 1.1rem;
  font-weight: bold;
}

.shopping .cart .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.unit-price {
  font-size: 0.9rem;
}

.remove {
  cursor: pointer;
}

.item-descreption {
  margin-left: 1rem;
}

.item-descreption h3 {
  font-weight: 400;
}

.item-descreption p {
  font-size: 14px;
  color: grey;
  width: 70%;
}

.subtotal {
  font-family: 'Montserrat';
  color: #fff;
}

.subtotal h1 {
  font-weight: lighter;
  font-style: normal;
}
.subtotal .container {
  background: #000;
  padding: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
